@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: aliceblue;
  padding: 20px;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: steelblue;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
