.userView {
  position: absolute;
  top: 20%;
  left: calc(50% - 500px);
  width: 1000px;
}
.header {
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  color: #000;
}
tr:first-child {
  background-color: steelblue;
  color: #f1f1f1;
}

.firTd {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.secTd:hover {
  background-color: #f9f9f9;
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.upDelBtn {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 5px;
  cursor: pointer;
}

.upDelBtn:hover {
  background-color: #f9f9f9;
}
