<div class="top-wrap">
  <h2><a href="/">Busan IT Academy</a></h2>
  <div class="top-menu">
    <ul>
      <li><a href="/">메인으로</a></li>
      <li><a href="/member/member">회원관리</a></li>
      <li><a href="/board/board">게시판관리</a></li>
      <li><a href="/">환경설정</a></li>
    </ul>
  </div>
</div>
