<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" href="/icon.png" type="image/png" />
    <title><%= title %><%= subTitle %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="top-wrap">
        <h2><a href="/">Busan IT Academy</a></h2>
        <div class="top-menu">
          <ul>
            <li><a href="/">BIT그룹웨어</a></li>
            <li><a href="/">무료 체험</a></li>
            <li><a href="/">서비스 소개</a></li>
            <li><a href="/">요금제</a></li>
          </ul>
        </div>
      </div>
      <div class="main-wrap">
        <div class="main">
          <h4>Busan IT Academy</h4>
          <h1>올인원 그룹웨어 솔루션<br />BIT GROUPWARE</h1>
          <a href="/member/member"
            ><button class="left">회원 관리 프로그램</button></a
          >
          <a href="/board/board"
            ><button class="right">게시판 관리 프로그램</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
